@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
:root {
  --blue: #1074eb;
  --orange: #f90;
  --red: #e92626;
  --black: #383838;
  --gray-strong: #9c9c9c;
  --light-gray: #f7f7f7;
  --white: #fff;
  --gray: #c9c9c9;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  background: transparent;
  border: none;
  outline: none;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  padding: 20px 0;
}

.header__top {
  background: var(--light-gray);
  display: none;
}

.header__top-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0;
}

.header__top-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.header__top-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.header__top-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  color: var(--gray-strong);
}

.header__top-item {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  color: var(--black);
}

.header__top-text2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  color: var(--black);
}

.header__top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.header__top-right a img {
  width: 20px;
  height: 20px;
}

.header__top-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  padding-top: 5px;
}

.header__top-dot {
  background-color: var(--blue);
  width: 4px;
  height: 4px;
  border-radius: 50%;
}

@media screen and (min-width: 922px) {
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.catalog__hero_text {
  margin-top: 10px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--gray-strong);
  margin-bottom: 50px;
}

.catalog__hero_span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--black);
}

.catalog__hero_block_title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 36px;
  color: var(--black);
}

.catalog__item_hero_block {
  margin-top: 32px;
}

.catal__spa {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--blue);
}

.catalog_hero_spans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog__hero_span_block {
  display: none;
}

@media (min-width: 768px) {
  .catalog__hero_text {
    margin-top: 10px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: var(--gray-strong);
    margin-bottom: 50px;
  }
  .catalog__hero_span {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: var(--black);
  }
  .catalog__hero_block_title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 36px;
    color: var(--black);
  }
  .catal__spa {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: var(--blue);
  }
  .ml {
    margin-left: 50px;
  }
  .catalog__hero_title_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .catalog_hero_spans {
    display: inline-block;
  }
  .nn::after {
    display: none;
  }
  .catalog__hero_span_block {
    display: inline-block;
  }
  .catalog__img_button {
    display: none;
  }
}
.catalog__praduc_list {
  padding-top: 26px;
}

.catalog__prodac_item {
  width: 172px;
  border: 1px solid;
}

.catalog__pradac_item_img_block {
  background: var(--light-gray);
  padding-top: 20px;
}

.catalog__pradac_item_img {
  margin-left: auto;
  margin-left: 24px;
  margin-top: 6px;
}

.catalog__praduc__item_span {
  width: 50px;
  height: 22px;
  background: var(--orange);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--white);
  display: inline-block;
  text-align: center;
  border-radius: 0 3px 3px 0;
}

.hiro__model_text {
  font-weight: 400;
  font-size: 16px;
  color: var(--gray-strong);
}

.hiro__text_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hiro__model {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.contact__title {
  color: var(--blue);
}

.footer {
  background-color: #000;
}/*# sourceMappingURL=main.css.map */