:root {
    --blue: #1074eb;
    --orange: #f90;
    --red: #e92626;
    --black: #383838;
    --gray-strong: #9c9c9c;
    --light-gray: #f7f7f7;
    --white: #fff;
    --gray: #c9c9c9;
}

:root {
    --font-family: "Lato", sans-serif;
}