.hero__block {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    position: relative;
}

.hero__block::before {
    position: absolute;
    content: "";
    background: #eef1f8;
    width: 100%;
    height: calc(100% - 81px);
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 3px;
}

.hero__title {
    font-weight: 900;
    font-size: 48px;
    text-align: center;
    color: var(--black);
    margin-bottom: 24px;
}

.hero__desccription {
    margin: 0 auto;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: var(--gray-strong);
}

.hero__imgs img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.hero__action {
    display: flex;
    margin-top: 32px;
    gap: 16px;
}

.hero__btn {
    display: block;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    padding: 16px 70px;
    border-radius: 3px;
    color: var(--white);
    background: var(--blue);
}

.hero__action-btn {
    background: var(--blue);
    border-radius: 3px;
    width: 51px;
    height: 51px;
    flex-shrink: 0;
}

@media screen and (min-width:767){
    
}