// header top part start

.header__top {
    background: var(--light-gray);
    display: none;
}

.header__top-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}

.header__top-link {
    display: flex;
    gap: 30px;
}

.header__top-center {
    display: flex;
    gap: 10px;
}

.header__top-text {
    font-size: 15px;
    color: var(--gray-strong);
}

.header__top-item {
    font-size: 15px;
    color: var(--black);
}

.header__top-text2 {
    font-size: 15px;
    color: var(--black);
}

.header__top-right {
    display: flex;
    gap: 24px;
}

.header__top-right a img {
    width: 20px;
    height: 20px;
}

.header__top-dots {
    display: flex;
    gap: 4px;
    padding-top: 5px;
}

.header__top-dot {
    background-color: var(--blue);
    width: 4px;
    height: 4px;
    border-radius: 50%;
}

// header top part finished

// header nav ssection start //

@media screen and (min-width: 922px) {
    .header__top {
        display: flex;
    }
}

.header__nav-items {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 22px;
    width: 100%;
}

.header__nav-items li {
    display: flex;
    align-items: center;
}

.header__nav-items li:nth-child(1) img {
    width: 143px;
    object-fit: cover;
}

.header__nav-items li:nth-child(2) {
    font-weight: 600;
    font-size: 25px;
    color: var(--black);
}

.nav__item-search {
    border: 1px solid var(--gray);
    border-radius: 3px;
    width: 292px;
    padding: 5px;
    display: flex;
    box-shadow: 0 0 17px 1px #ededed;
}

.nav__action-search {
    display: flex;
    width: 100%;
    height: 100%;
    color: var(--black);
}

.nav__action-search::placeholder {
    color: var(--gray-strong);
}

.nav__item-action {
    cursor: pointer;
    padding: 3px 10px 5px 10px;
    border-radius: 3px;
    background: var(--blue);
    color: var(--white);
}

.nav__item-social {
    display: flex;
    gap: 15px;
}

.nav__actions {
    display: flex;
}

.nav__action {
    box-shadow: 0 0 17px 1px rgba(253, 167, 39, 0.436);
}

.nav__action {
    font-weight: 600;
    color: var(--white);
    border-radius: 3px;
    background: var(--orange);
    padding: 8px 14px 10px 15px;
}

.nav__user-icon {
    padding: 7px;
    border-radius: 3px;
    background: var(--blue);
    box-shadow: 0 0 17px 1px #1073eb63;
}

.nav__user-icon img {
    width: 23px;
    height: 23px;
}
