.catalog__praduc_list {
    padding-top: 26px;
}

.catalog__prodac_item {
    width: 172px;
    border: 1px solid;

}

.catalog__pradac_item_img_block {
    background: var(--light-gray);
    padding-top: 20px;
}
.catalog__pradac_item_img{
    margin-left: auto;
    margin-left:24px;
    margin-top: 6px;
}

.catalog__praduc__item_span {
    width: 50px;
    height: 22px;
    background: var(--orange);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--white);
   display: inline-block;
   text-align: center;
   border-radius: 0 3px 3px 0;
   
}