.hiro__model_text {
    font-weight: 400;
    font-size: 16px;
    color: var(--gray-strong);
}


.hiro__text_block {
    display: flex;

}


.hiro__model {
    display: flex;
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.hiro__btn {
    font-weight: 400;
    font-size: 14px;
    color: var(--white);
    border-radius: 0 3px 3px 0;
    background: var(--red);
    position: absolute;
}

// .hiro__no {
//     font-weight: 400;
//     font-size: 16px;
//     text-align: right;
//     color: var(--red);
// }

// .hiro__img{
//     margin-bottom: 4px;
// }
.teg {
    display: flex;
    gap: 8px;
    margin-bottom: 50px;
}

.details {
    font-weight: 400;
    font-size: 16px;
    color: var(--gray-strong);
}

.detailss {
    font-weight: 400;
    font-size: 16px;
    color: var(--black);
}

.IP {
    font-weight: 400;
    font-size: 36px;
    color: var(--black);
}

.ipp {
    color: var(--gray-strong);
}

.hiro__text {
    font-weight: 400;
    font-size: 16px;
    color: var(--gray-strong);
}

.hiro__item {
    width: 555px;
    background-color: var(--light-gray);
    border-radius: 3px;
    padding: 30px 30px 30px;
}

.ipppp {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.tt {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.ippp {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.price {
    font-size: 24px;
    font-weight: bold;
}

.old-price {
    font-weight: 500;
    font-size: 36px;
    color: var(--black);
    // text-decoration: line-through;
}

.new-price {
    font-weight: 500;
    font-size: 36px;
    text-decoration: line-through;
    color: var(--gray);
}

.quantity-selector {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 10px;
}

.quantity-btn {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 0 10px;
}

.quantity-input {
    width: 30px;
    text-align: center;
    border: none;
    font-size: 16px;
}

.hiro__link {
    font-weight: 600;
    font-size: 16px;
    color: var(--white);
    border-radius: 3px;
    background: var(--blue);
    padding: 18px 79px 18px 80px;
}

.hiro__sub_link {
    font-weight: 400;
    font-size: 16px;
    text-align: right;
    color: var(--red);
}

.hiro__blocck {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.hiro__content {
    display: flex;
    justify-content: space-between;

}