.contact__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: var(--black);
    margin-top: 32px;
}

.contact__map-address {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    color: var(--gray-strong);
    margin-top: 24px;
}

.contact__map-desktop {
    display: none;
}

.contact__map-img {
    width: 100%;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
}

.contact__map-img-desc {
    display: none;
}

@media screen and (min-width:1140px) {
    .contact__title {
        font-family: var(--font-family);
        font-size: 36px;
        color: var(--black);
        margin-top: 50px;
    }
    .contact__map-img {
        background-image: url('../../../imgs/contact-map-desktop.svg');
    }
    .contact__map-img-desc {
        display: flex;
        margin-top: 30px;
    }
    .contact__map-img {
        display: none;
    }
    .contact__map-address {
        display: none;
    }
    .contact__map-desktop {
        display: flex;
        margin-top: 67px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        text-align: right;
        color: var(--black);
    }
}