.map__btns_block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 56px;
    gap: 16px;
}

.map__btn-left {
    width: 51px;
    height: 51px;
    background-image: url('../../../imgs/button__left-contact.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.map__btn-right {
    width: 51px;
    height: 51px;
    background-image: url('../../../imgs/button__right-contact.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.map__btn-text {
    width: 100%;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    color: var(--white);
    border-radius: 3px;
    height: 51px;
    background: var(--blue);
    cursor: pointer;
}

// .contact__map-img {
//     width: 100%;
// }
@media screen and ( min-width:1140px) {
    .map__btns_block {
        display: none;
    }
    .map__btn-right {
        display: none;
    }
    .map__btn-left {
        display: none;
    }
    .map__btn-text {
        display: none;
    }
}